$blue: #3577cb;
$blue-light: #57b0aa;
$blue-light-bg: #eff4fb;
$blue-border: #9abae5;
$dark: #212121;
$white: #fff;
$grey: #f3f3f3;
$grey-border: #e0e0e0;
$grey-border-second: #311515;
$grey-dark: #757575;
$grey-light-second: #c4c4c4;
